<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 ShopGo. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="ShopGo\Core\Model\Logger\Handler\Base" type="ShopGo\AdvancedLogger\Model\Logger\Handler\Base">
        <arguments>
            <argument name="logNamespacePath" xsi:type="string">shopgo/</argument>
        </arguments>
    </virtualType>
    <virtualType name="ShopGo\Core\Model\Logger\Handler\System" type="ShopGo\Core\Model\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">system.log</argument>
            <argument name="loggerType" xsi:type="string">info</argument>
        </arguments>
    </virtualType>
    <virtualType name="ShopGo\Core\Model\Logger\Handler\Debug" type="ShopGo\Core\Model\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">debug.log</argument>
            <argument name="loggerType" xsi:type="string">debug</argument>
        </arguments>
    </virtualType>
    <virtualType name="ShopGo\Core\Model\Logger\Handler\Exception" type="ShopGo\Core\Model\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">exception.log</argument>
            <argument name="loggerType" xsi:type="string">info</argument>
        </arguments>
    </virtualType>
    <virtualType name="ShopGo\Core\Model\Logger\Monolog" type="ShopGo\AdvancedLogger\Model\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">shopgo</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">ShopGo\Core\Model\Logger\Handler\System</item>
                <item name="debug" xsi:type="object">ShopGo\Core\Model\Logger\Handler\Debug</item>
                <item name="exception" xsi:type="object">ShopGo\Core\Model\Logger\Handler\Exception</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="ShopGo\Core\Model\Logger" type="ShopGo\AdvancedLogger\Model\Logger">
        <arguments>
            <argument name="logger" xsi:type="object">ShopGo\Core\Model\Logger\Monolog</argument>
        </arguments>
    </virtualType>
    <type name="ShopGo\Core\Helper\Utility">
        <arguments>
            <argument name="logger" xsi:type="object">ShopGo\Core\Model\Logger</argument>
        </arguments>
    </type>
    <type name="ShopGo\Core\Helper\AbstractHelper">
        <arguments>
            <argument name="utility" xsi:type="object">ShopGo\Core\Helper\Utility</argument>
        </arguments>
    </type>
</config>

